ul {
    text-decoration-style: none;
}

.body {
    max-width: 1080px;
    padding: 48px 24px 0px 24px;
    margin: 0 auto;
}

.explore {
    width: 100%;
    margin-bottom: 50px;
}

.explore .content {
    width: 100%;
}

.explore .title {
    font-size: 24px;
    font-weight: 800;
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.explore .content ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.explore .card {
    width: 25%;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin: 0px 8px;
}

.explore .card-container {
    display: table-row;
}

.explore .card-image {
    width: 96px;
    height: 100%;
}

.explore .card-content {
    display: table-cell;
    vertical-align: middle;
}

.explore .card-title {
    margin-left: 10px;
}

.recommended-for-you {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.recommended-for-you:last-child {
    margin-bottom: 0px;
}

.recommended-for-you .content {
    width: 100%;
    height: 240px;
}

.recommended-for-you .title {
    font-size: 24px;
    font-weight: 800;
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.recommended-for-you .content ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.recommended-for-you .card {
    width: 20%;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin: 0px 8px;
    height: 100%;
    
}

.recommended-for-you .card:nth-child(1) {
    background-image: url("../images/paris.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(2) {
    background-image: url("../images/tokyo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(3) {
    background-image: url("../images/london.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(4) {
    background-image: url("../images/los-angeles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(5) {
    background-image: url("../images/barcelona.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.recommended-for-you .card-content {
    position: absolute;
    bottom: 0;
    padding: 0px 24px 32px 24px;
}

.recommended-for-you .card-content h3 {
    text-align: center;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    color: #FFF;
}

.recommended-for-you .card-content p {
    text-align: center;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFF;
    word-wrap: break-word;
}

