ul {
    list-style-type: none;
}

strong {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
}

#logo {
  padding-right: 30px;
}

.footer {
    max-width: 1080px;
    padding: 48px 26px;
    margin: 0 auto;
}

.footer-container {
    display: 100%;
    margin: 0px auto;
}

.all-top {
    display: flex;
    flex-flow: row wrap;
}

.all-top .heading {
    margin-bottom: 24px;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #484848;
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
}

.all-top figcaption {
    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.333em;
}

.footer .new {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    background-color: #006a70;
    padding: 0px 4px;
    margin: 0px;
}

.goldenhost, .discover, .hosting, .information {
    width: 18,75%;
    width: calc(75% / 4);
}

.goldenhost .container,
.discover .container,
.hosting .container,
.information .container {
    height: 100%;
    width: 100%;
}

.discover, .hosting, .information {
    margin-left: 8,333%;
    margin-left: calc(100% / 12);
}

.goldenhost li, .discover li, .hosting li, .information li {
    color: #767676;
    margin-bottom: 4px;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.information .icon-information {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-bottom: 24px;
}

.information .icon-information i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    padding-left: 8px;
    padding-right: 8px;
    color: #767676;
}

.all-bottom .copyright {
    display: inline;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-left: 8px;
    }
    
    .goldenhost,
    .discover,
    .hosting,
    .information {
        width: 50%;
        margin: 0px;
    }

    .hosting,
    .information {
        margin-top: 20px;
    }    
}