ul {
    text-decoration-style: none;
}

.body {
    max-width: 1080px;
    padding: 48px 24px 0px 24px;
    margin: 0 auto;
    border-bottom: 1px solid #EBEBEB;
}

.explore {
    width: 100%;
    margin-bottom: 50px;
}

.explore .content {
    width: 100%;
}

.breaking-line {
    border: 1px solid #EBEBEB;
}

.title {
    font-size: 24px;
    font-weight: 800;
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.explore .content ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.explore .card {
    width: 25%;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin: 0px 8px;
}

.explore .card-container {
    display: table-row;
}

.explore .card-image {
    width: 96px;
    height: 100%;
}

.explore .card-content {
    display: table-cell;
    vertical-align: middle;
}

.explore .card-title {
    margin-left: 10px;
}


.recommended-for-you {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.recommended-for-you:last-child {
    margin-bottom: 0px;
}

.recommended-for-you .content {
    width: 100%;
    height: 240px;
}

.recommended-for-you .title {
    font-size: 24px;
    font-weight: 800;
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.recommended-for-you .content ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.recommended-for-you .card {
    width: 20%;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin: 0px 8px;
    height: 100%;
    
}

.recommended-for-you .card:nth-child(1) {
    background-image: url("../images/paris.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(2) {
    background-image: url("../images/tokyo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(3) {
    background-image: url("../images/london.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(4) {
    background-image: url("../images/los-angeles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card:nth-child(5) {
    background-image: url("../images/barcelona.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.recommended-for-you .card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.recommended-for-you .card-content {
    position: absolute;
    bottom: 0;
    padding: 0px 24px 32px 24px;
}

.recommended-for-you .card-content h3 {
    text-align: center;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    color: #FFF;
}

.recommended-for-you .card-content p {
    text-align: center;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFF;
    word-wrap: break-word;
}

.top-rated-experience {
    margin-bottom: 50px;
}

.top-rated-experience .top-rated-experience-container {
    width: 100%;
}

.top-rated-experience .top-rated-table {
    width: 100%;
}

.top-rated-experience .row {
    width: 100%;
}

.top-rated-experience .top-rated-elements {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-rated-experience .element {
    border-radius: 5px;
    width: 25%;
    margin: 8px 10px;
}

.top-rated-experience .element-container {
    width: 100%;
}

.top-rated-experience .element-container > img {
    width: 100%;
    height: 164px;
    margin-bottom: 2px;
    border-radius: 3px;
}

.top-rated-experience .element-container > .city-name {
    color: #767676;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
}

.top-rated-experience .element-container > .name {
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: 800;
    line-height: 21px;
    max-height: 42px;
    margin-bottom: 4px;
}

.top-rated-experience .element-container > .price {
    color: #767676;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}

.top-rated-elements .element-container > .stars-and-users-voted {
    margin-right: 2px;
}

.stars-and-users-voted .score {
    color: #008489;
    display: inline;
}

.stars-and-users-voted i {
    color: #008489;
    display: inline;
}

.stars-and-users-voted p {
    color: #767676;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    display: inline;
}


.unique-homes {
    width: 100%;
    margin-bottom: 50px;
}

.unique-homes .unique-homes-container {
    width: 100%;
}

.unique-homes .homes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.unique-homes .home {
    width: 33,33%;
    width: calc(100% / 3);
    margin: 0px 8px;
}

.unique-homes .home-container {
    width: 100%;
}

.unique-homes .home-container > img {
    width: 100%;
    border-radius: 3px;
}

.unique-homes .home-container > h4 {
    color: #767676;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
}

.unique-homes .home-container > h2 {
    color: #484848;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: 800;
    line-height: 21px;
    max-height: 42px;
    margin-bottom: 4px;
}

.unique-homes .home-container > p {
    color: #767676;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}